* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  width: 1200px;
  height: 1000px;
  margin: auto;
  border: 5px solid black;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 50% auto 30%;
  grid-auto-flow: column;
  grid-template-areas:
    "g1 g2 g3"
    "4 5 6"
    "7 8 9";
}

.container div {
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:nth-child(even) {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .g1 {
  background-color: brown;
}
